<header class="main">
    <div class="top">
        <div class="container">
            <span>
                Call us: +385 (0) 20 432 723
            </span>
            <div class="languages">
                <a class="active" href="#">
                    <img src="/assets/img/gb.svg" height="15" width="20" alt="english">
                </a>
                <a href="#">
                    <img src="/assets/img/it.svg" height="15" width="20" alt="italian">
                </a>
                <a href="#">
                    <img src="/assets/img/de.svg" height="15" width="20" alt="german">
                </a>
                <a href="#">
                    <img src="/assets/img/fr.svg" height="15" width="20" alt="french">
                </a>
                <a href="#">
                    <img src="/assets/img/es.svg" height="15" width="20" alt="spanish">
                </a>
                <a href="#">
                    <img src="/assets/img/ru.svg" height="15" width="20" alt="russian">
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="Faraon logo" height="60">
            </div>
            <nav>
                <a href="/excursions">
                    Excursions
                </a>
                <a href="/transfers">
                    Transfers
                </a>
                <a href="/accommodation">
                    Accommodation
                </a>
                <a href="/additional-services">
                    Additional services
                </a>
                <a href="/excursions">
                    About us
                </a>
                <a href="/excursions">
                    Contact
                </a>
            </nav>
        </div>
    </div>
</header>
